a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, p {
  margin: 0;
}

address {
  font-style: normal;
}

button {
  bottom: none;
}

.portfolio__btn:hover, .footer__link, .footer__email:hover .footer__email, .footer__email:focus .footer__email, .footer__phone:hover .footer__phone, .footer__phone:focus .footer__phone, .client__link, .workers__link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  max-width: 1200px;
  outline: 1px solid blue;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: "Roboto";
}

.header {
  padding: 10px 0;
  border-bottom: 1px solid #2196F3;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 21px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 25px 0;
  }
}
.header > .container {
  display: flex;
  align-items: center;
}
.header__logo {
  color: #000;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.72px;
  margin-right: auto;
  animation: logo-scale 5000ms alternate infinite;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    letter-spacing: 0.78px;
    margin-right: 93px;
  }
}
@keyframes logo-scale {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}
.header__span {
  color: #2196F3;
}
.header__menu {
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }
}
.header__burger {
  width: 40px;
  height: 40px;
}
.header__list {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    flex-direction: row;
    gap: 30px;
  }
}
.header__item:nth-child(2) .header__icon {
  width: 10px;
  height: 16px;
}
.header__link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__link:hover .header__cell, .header__link:focus .header__cell {
  color: #2196F3;
}
.header__link:hover .header__icon, .header__link:focus .header__icon {
  fill: #2196F3;
}
.header__cell {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__icon {
  width: 16px;
  height: 12px;
  fill: rgb(117, 117, 117);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}
.nav__list {
  display: flex;
  gap: 50px;
}
.nav__item {
  position: relative;
}
.nav__link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196F3;
}

.curent {
  color: #2196F3;
}
.curent::after {
  content: "";
  display: block;
  opacity: 0;
  border-radius: 2px;
  background-color: #2196F3;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 49px;
  left: 0;
  transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0);
}
.curent:hover::after {
  opacity: 1;
  transform: scale(1);
}

.menu {
  width: 100vw;
  height: 100vh;
  background-color: #FFF;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  padding: 48px 0 48px 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.menu__close {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__close:hover, .menu__close:focus {
  cursor: pointer;
}
.menu__close:hover .menu__close, .menu__close:focus .menu__close {
  fill: #2196F3;
}
.menu__close {
  width: 30px;
  height: 30px;
  fill: rgb(0, 0, 0);
  visibility: visible;
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.menu__link {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}
.menu__link:hover, .menu__link:focus {
  color: #2196F3;
}
.menu__items {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 100px;
}
.menu__contact {
  color: #757575;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.menu__contacttel {
  color: #2196F3;
  font-size: 34px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.68px;
}
.menu__social {
  display: flex;
  margin-top: 64px;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.menu__el:not(:last-child) .menu__ciberlink::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 22px;
  background: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}
.menu__ciberlink {
  color: #2196F3;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px; /* 122.222% */
  letter-spacing: 0.36px;
  display: flex;
  align-items: center;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/hero-mobile@1x.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/hero-mobile@2x.webp);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/hero-tablet@1x.webp);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/hero-tablet@2x.webp);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/hero-desktop@1x.webp);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/hero-desktop@2x.webp);
  }
}
.hero__title {
  color: #FFF;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.36; /* 136.364% */
  letter-spacing: 1.56px;
  text-transform: uppercase;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    letter-spacing: 2.64px;
    width: 696px;
  }
}
.hero__button {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.96px;
  background-color: #2196F3;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

.adventeges {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .adventeges {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}
.adventeges__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.adventeges__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 480px) {
  .adventeges__item::before {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .adventeges__item::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .adventeges__item::before {
    width: 270px;
  }
}
.adventeges__item:nth-child(1)::before {
  background-image: url(../img/antenna.png);
}
.adventeges__item:nth-child(2)::before {
  background-image: url(../img/clock.png);
}
.adventeges__item:nth-child(3)::before {
  background-image: url(../img/diagram.png);
}
.adventeges__item:nth-child(4)::before {
  background-image: url(../img/astronaut.png);
}
.adventeges__title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .adventeges__title {
    text-align: start;
  }
}
.adventeges__text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
@media screen and (min-width: 480px) {
  .adventeges__text {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .adventeges__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .adventeges__text {
    width: 270px;
  }
}

.work {
  display: none;
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}
.work__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  gap: 30px;
}
.work__item {
  position: relative;
  align-items: center;
}
.work__text {
  color: #FFF;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  font-size: 14px;
  bottom: 0;
  left: 0;
  height: 70px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 100%;
  padding: 27px 27px;
}

.workers {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #F5F4FA;
}
@media screen and (min-width: 1200px) {
  .workers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.workers__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .workers__title {
    margin-bottom: 50px;
    line-height: 1.16;
    letter-spacing: 1.08px;
    font-size: 36px;
  }
}
.workers__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.workers__item {
  /* material shadow v1 */
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 480px) {
  .workers__item {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 768px) {
  .workers__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .workers__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.workers__div {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  background: #FFF;
}
@media screen and (min-width: 1200px) {
  .workers__div {
    padding-bottom: 30px;
  }
}
.workers__caption {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.workers__text {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
}
.workers__items {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 26px;
}
.workers__link {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.workers__link:hover, .workers__link:focus {
  background-color: #2196F3;
}
.workers__link:hover .workers__icon, .workers__link:focus .workers__icon {
  fill: #FFF;
}
.workers__icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #757575;
}

.client {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.client__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .client__title {
    margin-bottom: 50px;
    font-size: 36px;
    letter-spacing: 1.08px;
  }
}
.client__item {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.client__element {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 480px) {
  .client__element {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .client__element {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__element {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.client__element:hover {
  border: 1px solid #2196F3;
  border-radius: 4px;
}
.client__link {
  width: 100%;
  height: 92px;
  border-radius: 4px;
  outline: 1px solid #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: outline;
}
@media screen and (min-width: 486px) {
  .client__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}
.client__link:hover, .client__link:focus {
  border: none;
  outline: 1px solid #2196F3;
}
.client__link:hover .client-icon, .client__link:focus .client-icon {
  fill: #2196F3;
}
.client__icon {
  width: 106px;
  height: 60px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client .client__icon:hover {
  fill: #2196F3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__wrap {
  display: flex;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .footer__wrap {
    flex-direction: row;
  }
}
.footer__logo {
  color: #2196F3;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    letter-spacing: 0.78px;
  }
}
.footer__span {
  color: #FFF;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.footer__address {
  margin-top: 20px;
}
.footer__map {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer__contact {
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer__email {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer__phone {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer__phone:hover .footer__phone, .footer__phone:focus .footer__phone {
  color: #2196F3;
}
.footer__email:hover .footer__email, .footer__email:focus .footer__email {
  color: #2196F3;
}
.footer__title {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__list {
  display: flex;
  gap: 10px;
}
.footer__link {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer__link:hover, .footer__link:focus {
  background-color: #2196F3;
}
.footer__link:hover__icon, .footer__link:focus__icon {
  fill: #FFF;
}
.footer__icon {
  width: 20px;
  height: 20px;
  fill: #FFF;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__divinput {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__divinput {
    margin-left: auto;
    margin-top: 0;
  }
}
.footer__label {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__wrapp {
  display: flex;
  align-items: center;
}
.footer__input {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 358px;
}
@media screen and (min-width: 480px) {
  .footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}
.footer__button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  margin-left: 12px;
  border: none;
}
.footer__buttonsvg {
  width: 24px;
  height: 24px;
  fill: #FFF;
  margin-left: 10px;
}
.footer__box {
  margin-left: 60px;
}
@media screen and (min-width: 768px) {
  .footer__box {
    margin-left: 165px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    margin-left: 70px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  /* display: flex;
  align-items: center;
  justify-content: center; */
  visibility: visible;
  transition-property: visibility;
  transition-duration: 250ms;
}

.modal {
  width: 90%;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg) scale(1);
  padding: 40px;
  transition-property: transform;
  transition-duration: 250ms;
}
@media screen and (min-width: 480pxpx) {
  .modal {
    width: 450pxpx;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal__close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  border: none;
  position: absolute;
  right: 8px;
  top: 8px;
}
.modal__close:hover-buttonsvg, .modal__close:focus-buttonsvg {
  fill: #2196F3;
}
.modal__buttonsvg {
  width: 18px;
  height: 18px;
}
.modal__title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal__label {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.modal__wrap {
  position: relative;
}
.modal__input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
}
.modal__input:hover, .modal__input:focus {
  border: none;
  outline: 1px solid #2196F3;
}
.modal__input:hover + .modal__svg, .modal__input:focus + .modal__svg {
  fill: #2196F3;
}
.modal__svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  left: 12px;
}
.modal__coment {
  width: 448px;
  height: 120px;
  resize: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 4px;
}
.modal__check {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.modal__span {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  margin-left: 9px;
}
.modal__link {
  color: #2196F3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.modal__button {
  padding: 10px 52px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border: none;
  margin-top: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.is-hidden {
  /* opacity: 0; */
  pointer-events: none;
  visibility: hidden;
  transition-property: visibility;
  transition-duration: 250ms;
}

.is-hidden .modal {
  transform: translate(0) rotate(0) scale(0);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio__listbutton {
  display: flex;
  justify-content: start;
  gap: 8px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .portfolio__listbutton {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__listbutton {
    margin-bottom: 50px;
  }
}
.portfolio__btn {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  padding: 6px 22px;
  border-radius: 4px;
  background: #F5F4FA;
  border: none;
}
.portfolio__btn:hover {
  color: #FFF;
  background-color: #2196F3;
  border-radius: 4px;
  border: none;
  /* shadow-middle */
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.portfolio__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  flex-basis: calc(33.33% - 20px);
  box-sizing: border-box;
}
.portfolio__item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.portfolio__item {
  outline: 1px solid #EEE;
  flex-basis: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
}
@media screen and (min-width: 480px) {
  .portfolio__item {
    flex-basis: 450px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.portfolio__overlay {
  position: relative;
  overflow: hidden;
}
.portfolio__div {
  border: 1px solid #EEE;
  padding: 24px 20px;
}
.portfolio__item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
}
.portfolio__item:hover__desk {
  visibility: visible;
  transform: translateY(0);
}
.portfolio__desk {
  font-size: 18px;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform, visibility;
  transition-duration: 250ms;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
}
.portfolio__caption {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2; /* 200% */
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}
.portfolio__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.48px;
}/*# sourceMappingURL=main.css.map */