:root{
    --akcen-tcolor:#2196F3;
    --logo-colot:#000;
    --main-text:#212121;
    --et-textcolor:#757575;
    --title-color:#FFF;
    --tem-background:#F5F4FA;
    --footer-background:#2F303A;
    --adres-color:rgba(255, 255, 255, 0.60);
    --line-color:#ECECEC;
    --borter-color:#EEEEEE;
    
}

.title{
    font-family:"Raleway";
    font-weight: 700px;
}

.text{
    font-family:"Roboto";
    font-weight: 400px;
}
 
body{
    font-family: "Roboto";
}

.header-logo{
    color: var(--akcen-tcolor);
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.header-span{
    color: var(--logo-colot);
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}


.nav-link{
    color: var(--main-text);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}



.nav-link:hover{
    color: var(--akcen-tcolor);
}
.header-link{
    color: var(--et-textcolor);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.headercontact-link:hover{
    color: var(--akcen-tcolor);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}


.hero{
    background-color: var(--footer-background);
}

.hero-title{
    color: var(--title-color);
text-align: center;
font-size: 44px;
font-weight: 900;
line-height: 1.36; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;
}

.hero-button{
    color: var(--title-color);
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.96px;
background-color: var(--akcen-tcolor);
}

.adventeges-title{
    color: var(--et-textcolor);
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
}


.adventeges-text{
    color: var(--et-textcolor);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

.workers{
    color: var(--tem-background);
}

.workers-title{
    color: ;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
}

.workers-caption{
    color: var(--main-text);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.48px;
}

.workers-text{
    color: var(--et-textcolor);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
}


.footer{
    background-color: var(--footer-background);
} 

.footer-logo{
    color: var(--akcen-tcolor);
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.footer-span{
    color: var(--title-color);
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.footer-map{
    color: var(--title-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

.footer-email{
    color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

.footer-phone{
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
}

.hero-btn:hover{
    color: var(--title-color);
width: 125px;
height: 38px;
flex-shrink: 0;
background-color: var(--akcen-tcolor);
}

.portfolio-caption{
    color: var(--main-text);
font-size: 18px;
font-weight: 700;
line-height: 2.00; /* 200% */
letter-spacing: 1.08px;
}

.portfolio-text{
    color: var(--et-textcolor);
font-size: 16px;
font-weight: 400;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.48px;
}