:root{
    --akcen-tcolor:#2196F3;
    --logo-colot:#000;
    --main-text:#212121;
    --et-textcolor:#757575;
    --title-color:#FFF;
    --tem-background:#F5F4FA;
    --footer-background:#2F303A;
    --adres-color:rgba(255, 255, 255, 0.60);
    --line-color:#ECECEC;
    --borter-color:#EEEEEE;
    
}