.adventeges-list{
    display: flex;
    gap: 30px;
}

.adventeges-item::before{
    content: "";
    display: block;
    width: 270px;
height: 120px;
flex-shrink: 0;
border-radius: 4px;
background-color: var(--tem-background);
margin-bottom: 30px;
 background-position: center;
background-repeat: no-repeat;

}

.adventeges-item:nth-child(1)::before{
    background-image: url(../img/antenna.png);
   
}

.adventeges-item:nth-child(2)::before{
    background-image: url(../img/clock.png);
  
}

.adventeges-item:nth-child(3)::before{
    background-image: url(../img/diagram.png);
 
}

.adventeges-item:nth-child(4)::before{
    background-image: url(../img/astronaut.png);

}

.adventeges-title{
    color: var(--main-text);
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 10px;

}

.adventeges-text{
    color: var(--et-textcolor);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}