.footer{
    background-color: $footer-background;
    padding-top: 60px;
    padding-bottom: 60px;

    &__wrap{
        display: flex;
        align-items: baseline;
        @media screen and (min-width : 768px) {
            flex-direction: row;
          }
    }

    &__logo{
        color: $akcen-tcolor;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    @media screen and (min-width : 1200px) {
        font-size: 26px;
        letter-spacing: 0.78px;
      }
    }

    &__span{
        color: $title-color;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    }

    &__address{
        margin-top: 20px;
    }

    &__map{
        color: $title-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
    }

    &__contact{
        margin-top: 9px;
        display: flex;
        flex-direction: column;
        gap: 9px;
    }

    &__email{
        color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__phone{
        color: rgba(255, 255, 255, 0.60);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71; /* 171.429% */
        letter-spacing: 0.42px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          
    }

    &__phone:hover,
    &__phone:focus{
        .footer__phone {
            color: $akcen-tcolor;
          }
          

    }

    &__email:hover,
    &__email:focus{
        .footer__email {
            color: $akcen-tcolor;
          }
          

    }

    
    &__title{
        color: $title-color;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__list{
        display: flex;
        gap: 10px;
    
    }

    &__link{
        width: 44px;
        height: 44px;
        flex-shrink: 0;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:  rgba(255, 255, 255, 0.10);
        @extend %css-transition;
    }

    &__link:hover,
&__link:focus{
    background-color: $akcen-tcolor;
    &__icon{
        fill: $title-color;
    }
    
}

&__icon{
    width: 20px;
    height: 20px;
    fill: $title-color;
    transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__divinput{
    margin-top: 60px;
  
  @media screen and (min-width:1200px) {
    margin-left: auto;
    margin-top: 0;
  }
}

&__label{
    color: $title-color;

font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 20px;
}

&__wrapp{
    display: flex;
    align-items: center;
}

&__input{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.48px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 358px;
    @media screen and (min-width:480px) {
        width: 450px;
        
      }
    @media screen and (min-width:1200px) {
      width: 358px;
    }
    

}

&__button{
    width: 200px;
height: 50px;
border-radius: 4px;
background: $akcen-tcolor;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
color: $title-color;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
margin-left: 12px;
border: none;

}

&__buttonsvg{
    width: 24px;
height: 24px;
fill: $title-color;
margin-left: 10px;


}



&__box{
    margin-left: 60px;
    @media screen and (min-width : 768px) {
        margin-left: 165px;
        margin-top: 0;
      }
      @media screen and (min-width : 1200px) {
        margin-left: 70px;
      }
}
} 


































