.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.20);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    visibility: visible;
    transition-property: visibility;
    transition-duration: 250ms;
     }
    

     .modal{
        width: 90%;
    
    border-radius: 4px;
    background: $title-color;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(360deg) scale(1);
    padding: 40px;
    transition-property: transform;
    transition-duration: 250ms;

    @media screen and (min-width:480pxpx){
        width: 450pxpx;
    }

    @media screen and (min-width:1200px){
        width: 528px;
    }
    

    &__close{
        width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid rgba(0, 0, 0, 0.10);
    border: none;
    position: absolute;
    right: 8px;
    top: 8px;
    }

    &__close:hover,
&__close:focus{
    &-buttonsvg{
        fill: $akcen-tcolor;
    }
}

&__buttonsvg{
    width: 18px;
height: 18px;

}

&__title{
    color:$main-text;

text-align: center;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.6px;
margin-bottom: 12px;
}

&__label{
    color: $et-textcolor;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
}

&__wrap{
    position: relative;
}

&__input{
    width: 448px;
height: 40px;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
margin-top: 4px;
margin-bottom: 10px;
padding-left: 42px;
}

&__input:hover,
&__input:focus{
    border: none;
    outline: 1px solid $akcen-tcolor;
}

&__input:hover + .modal__svg,
&__input:focus + .modal__svg{
    fill: $akcen-tcolor;
}
&__svg{
    width: 18px;
height: 18px;
position: absolute;
top: 50%;
transform: translateY(-60%);
left: 12px;

}

&__coment{
    width: 448px;
height: 120px;
resize: none;
padding-left: 16px;
padding-right: 16px;
padding-top: 12px;
padding-bottom: 12px;
margin-top: 4px;
}

&__check{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

&__span{
    color: $et-textcolor;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
margin-left: 9px;
}

&__link{
    color: $akcen-tcolor;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}

&__button{
    padding: 10px 52px;
    border-radius: 4px;
background: $akcen-tcolor;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
border: none;
margin-top: 30px;
display: block;
margin-right: auto;
margin-left: auto;
}
}



.is-hidden{
    /* opacity: 0; */
    pointer-events: none;
    visibility: hidden;
    transition-property: visibility;
    transition-duration: 250ms;
}

.is-hidden .modal{
    transform: translate(0) rotate(0) scale(0);
}
































