@mixin transition($duration:250ms,$timing:cubic-bezier(0.4, 0, 0.2, 1),$property:color){
    transition-duration: $duration;
    transition-timing-function: $timing;
    transition-property: $property;
}